body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* OUTER circle */
#outer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ff0000;   /* red */
  border: 25px solid #ffa500; /* orange */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MIDDLE circle */
#middle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #008000;   /* green */
  border: 25px solid #ffff00; /* yellow */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INNER circle */
#inner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #800080;   /* violet */
  border: 25px solid #0000ff; /* blue */
}
